<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualize</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body>
    {% if tracker == 1 %}
    <div>
      <label class="text-xl">Correlation Map Für Diamond Dataset</label>
      <img
        class="max-w-full h-auto"
        src="../static/save_as_a_png.png"
        alt="image description"
      />
      
    </div>
    <div class="flex items-center justify-end mt-4">
      <button
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        <a href="feature">Weiter</a>
      </button>
    </div>
    {% elif tracker == 2 %}
    <div>
      <label class="text-xl"
        >Correlation Map Für Car Price Prediction Dataset</label
      >
      <img
        class="max-w-full h-auto"
        src="../static/carpricecorr.png"
        alt="image description"
      />
    </div>
    <div class="flex items-center justify-end mt-4">
      <button
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        <a href="feature">Weiter</a>
      </button>
    </div>
    {% else %}
    <div class="justify-center">
      <label class="text-xl">Correlation Map Für Abalone Dataset</label>
      <img
        class="max-w-full h-auto"
        src="../static/abalone.png"
        alt="image description"
      />

     

    </div>

    <div class="flex items-center justify-end mt-4">
      <button
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        <a href="feature">Weiter</a>
      </button>
    </div>
    {% endif %}




    <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
  </body>
</html>
